$Grey: #3d5a80;
$CVcolor: #293241;
$bigMargin: 3vh;
$smlMargin: 2vh;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap');


* {
  margin: 0 auto;
  font-family: 'Roboto', Arial, sans-serif;

}

body {
  background-color: #293241;
}

.main__container {
  margin: 2% 20% 2% 20%;
  border: 1px solid black;
  height: max-content;
  width: 60%;
  background-color: #e0fbfc;
  border-radius: 0.3rem;
}

/* CV Header - Personal Data */

.cv__head__header {
  color: $CVcolor;
  text-align: center;
  font-weight: bolder;
  margin-top: $bigMargin;
  margin-bottom: $smlMargin;
  font-size: 3rem;
  text-transform: uppercase;

}

.cv__head__smlHeader {
  font-size: 2rem;
  text-align: center;
  margin-bottom: $smlMargin;
  color: $Grey;

}

.cv__head__container {
  margin: $bigMargin $bigMargin $bigMargin $bigMargin;
  width: available;
  display: flex;
  justify-content: space-between;
}

.cv__head__photo {
  height: 22vh;
  width: 25%;
  background-image: url("../images/mephoto.jpg");
  background-size: cover;
  border-radius: 0.3rem;
}

.cv__head__text {
  width: 65%;

  color: #ee6c4d;
   table {
     margin-left: -0.5%;
     tr td {
       margin: 1% 0 1% 0;
       i {
         color: $Grey;
       }
       strong {
         color: $Grey;
       }
     }

     table:last-child {
       margin-bottom: $smlMargin;
     }
   }

  h3 {
    text-align: center;
    background-color: $Grey;
    margin: $smlMargin 0 $smlMargin 0;
    height: 17%;
    padding-top: 1.5%;
    border-radius: 0.1rem;
    color: #ee6c4d;
    font-size: 1.35rem;
  }
}


/* Buttons */

.cv__information__container {
  width: 100%;
  margin: 0.5vh 5% 0.5vh 5%;
}

@mixin btn-border-drawing($color: #ccc, $hover: black, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.3s) {
  box-shadow: inset 0 0 0 $width $color;
  color: $color;
  transition: color $duration $duration/3;
  position: relative;

  &::before,
  &::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0; height: 0;

    #{$vertical}: 0;
    #{$horizontal}: 0;
  }

  &::before {
    $h-side: if($horizontal == 'left', 'right', 'left');

    border-#{$vertical}-width: $width;
    border-#{$h-side}-width: $width;
  }

  &::after {
    $v-side: if($vertical == 'top', 'bottom', 'top');

    border-#{$v-side}-width: $width;
    border-#{$horizontal}-width: $width;
  }

  &:hover {
    color: $hover;

    &::before,
    &::after {
      border-color: $hover;
      transition: border-color 0s, width $duration, height $duration;
      width: 100%;
      height: 100%;
    }

    &::before {
      transition-delay: 0s, 0s, $duration;
    }

    &::after {
      transition-delay: 0s, $duration, 0s;
    }
  }
}


.draw__border {
  @include btn-border-drawing( $Grey, #ee6c4d, 4px, bottom, right);
}

.cv__information__button {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.4rem 'Roboto', Arial, sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
  width: 90%;
  text-align: center;
  position: relative;

  &:focus {
    outline: 0;
    color: #ee6c4d;
  }

  &:hover {
    background-color: $Grey;
  }
}

.cv__information__popUp {
  visibility: hidden;
  width: content-box;
  height: content-box;
  min-width: 45%;
  min-height: 30%;
  background-color: $Grey;
  color: #ee6c4d;
  text-align: left;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 10%;
  left: 65%;
  margin-left: -80px;


  .popUp__title__dev {
    text-align: left;
    font: 500 1.2rem 'Roboto', Arial, sans-serif;
    margin: $smlMargin 5% $smlMargin 5%;
    text-decoration: underline;

    span {
      font: 500 1.1rem 'Roboto', Arial, sans-serif;
      font-style: italic;
      text-decoration: none;
    }
  }

  .popUp__info__dev {
    font: 400 1.1rem 'Roboto', Arial, sans-serif;
    margin: $smlMargin 5% $smlMargin 5%;
    text-align: left;
    color: #e0fbfc;
  }

  .popUp__info {
    font: 400 1.1rem 'Roboto', Arial, sans-serif;
    margin: $smlMargin 5% $smlMargin 5%;
    text-align: left;
    cursor: auto;
      a {
        text-decoration: none;
        color: #ee6c4d;
        font: 500 1.5rem 'Roboto', Arial, sans-serif;
        margin-left: 10%;

        &:hover {
          background-color: $Grey;
          text-decoration: underline;
        }
        &:checked {
          color: #ee6c4d;
          text-decoration: none;
        }
      }

    }

    .popUp__info__dl {
      dt {
        margin-bottom: $smlMargin;
        margin-top: $bigMargin;
        text-decoration: underline;
        font: 500 1.2rem 'Roboto', Arial, sans-serif;

      }
      dd {
        margin-left: 6%;
        color: #e0fbfc;
      }
    }

    span {
      font: 500 1.0rem 'Roboto', Arial, sans-serif;
    }


    }



.show {
  visibility: visible;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
  opacity: 98%;
}

.text__slide {
  text-align: left;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 98%;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 98% ;}
}
